<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="stylesheets/global.css">
    <title>fileBrowse</title>
</head>

<body>
    <div id="app">
        <div id="options" style="border-bottom:1px solid black;margin-bottom:5px;padding-bottom:5px;">
            <input type="button" v-on:click="forwardFolder" value="forward">
            <input type="button" v-on:click="download" value="download">
            <input type="button" v-on:click="upload" value="upload">
            CurrentPath：{{dir}}
        </div>
        <div id="data">
            <table style="width:100%">
                <thead>
                    <tr>
                        <td style="width:40px"><input type="button" v-on:click="toggleAll()" value="[x]"></td>
                        <td v-on:click="orderBy('name')">Name</td>
                        <td v-on:click="orderBy('size')">Size</td>
                        <td v-on:click="orderBy('birthtime')">CreateTime</td>
                        <td v-on:click="orderBy('ctime')">ModifyTime</td>
                    </tr>
                </thead>
                <tbody path="{{dir}}">
                    <tr index="{{$index}}" v-for="file in files">
                        <td><input v-model="file.check" type="checkbox"></td>
                        <td v-on:click="enterFolder">
                            <img v-if="file.isDirectory" src="images/normal_folder.png" width="16" height="16">
                            <img v-if="file.isFile" src="images/normal.png" width="16" height="16">
                            <a>{{file.name}}</a>
                        </td>
                        <td>{{file.size}}</td>
                        <td>{{file.birthtime}}</td>
                        <td>{{file.mtime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="javascripts/underscore.js"></script>
    <script type="text/javascript" src="javascripts/vue.js"></script>
    <script type="text/javascript" src="javascripts/vue-resource.min.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>
</body>

</html>