<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>fileBrowse</title>
</head>

<body>
    <div id="app">
        <div id="options" style="border-bottom:1px solid black;margin-bottom:5px;padding-bottom:5px;">
            <input type="button" @click="forwardFolder" value="forward">
            <input type="button" @click="download" value="download">
            <input type="button" @click="upload" value="upload">
            <input type="button" @click="pushText" value="pushText">
            <form target="iframe" action="/uploadFile" style="display:none;" method="post" id="form1" enctype="multipart/form-data">
                <input id="fileUp" name="file" type="file" multiple="true">
                <input name="dir" type="text" value="{{dir}}">
            </form>
            sIP: {{sIP}};
            CurrentPath: {{dir}}
        </div>
        <div id="data">
            <table style="width:100%">
                <thead>
                    <tr>
                        <td style="width:40px"><input type="button" @click="toggleAll()" value="[x]"></td>
                        <td @click="orderBy('name')">Name</td>
                        <td @click="orderBy('size')">Size</td>
                        <td @click="orderBy('birthtime')">CreateTime</td>
                        <td @click="orderBy('ctime')">ModifyTime</td>
                    </tr>
                </thead>
                <tbody path="{{dir}}">
                    <tr index="{{$index}}" v-for="file in files">
                        <td><input v-model="file.check" type="checkbox"></td>
                        <td @click="enterFolder">
                            <a href="javascript:void(0)" v-if="file.isDirectory"><img class="folder" src="images/normal_folder.png" width="16" height="16"></a>
                            <img v-if="file.isFile" src="images/normal.png" width="16" height="16">
                            <a v-bind:class="{'folder':file.isDirectory,'file':file.isFile}" href="javascript:void(0)"><span>{{file.name}}</span></a>
                        </td>
                        <td>{{file.size}}</td>
                        <td>{{file.birthtime}}</td>
                        <td>{{file.mtime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-show="modelVisible" class="model">
            <span class="title">set content</span>
            <textarea rows="5" cols="55" v-model="modelInput"></textarea>
            <div class="foot">
                <input type="button" @click="modelSend" value="send">
                <input type="button" @click="modelVisible=false" value="cancel">
            </div>
        </div>
        <div v-show="modelVisible" class="mask"></div>
    </div>
    <script type="text/javascript" src="javascripts/Vue.js_v2.5.16.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>
</body>

</html>