body {
	padding: 10px;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a { 
	color: #1A75DD;
	text-decoration: none;
}

.folder:hover{
	text-decoration: underline;
}

.file{
    color: black;
    cursor: default;
}

.model {
	z-index: 1000;
	background-color: white;
	width: 400px;
	height: 200px;
	margin-left: -220px;
	position: absolute;
	padding: 40px;
	top: 100px;
	left: 50%;
	border: solid 1px black;
}

.model>.title {
	display: block;
	margin-bottom: 20px;
}

.model>.foot {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 40px 40px 0;
}


.mask {
	overflow: hidden;
	left: 0;
    height: 100%;
    top: 0;
    width: 100%;
	position: absolute;
    right: 0;
    bottom: 0;
    z-index: 998;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    -webkit-animation: layerMask .2s ease-out;
    -moz-animation: layerMask .2s ease-out;
    animation: layerMask .2s ease-out
}
